<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            Eric and Leigh
        {% endblock %}
    </title>
		<link rel="stylesheet" href="/media/css/min.css" type="text/css">
		<script type="text/javascript" src="/media/min.js"></script>
</head>
<body id="page1">
    {% include "partial/header.html" %}
	<div class="body3">
		<div class="main">
    	    {% block content %}
        	{% endblock %}
		</div>
	</div>
    {% include "partial/footer.html" %}
</body>
</html>
