<div class="body1">
	<div class="main">
		<!-- header -->
		<header>
			<div class="wrapper">
				<nav>
					<ul id="menu">
						<li class="first" id="menu_active"><a href="index.html">Home </a></li>
						<li><a href="ourstory">Our Story</a></li>
						<li><a href="weddingevents">Wedding Events</a></li>
						<li><a href="weddingparty">Wedding Party</a></li>
						<li><a href="photos">Photo Gallery</a></li>
						<li><a href="registry">Gift Registry</a></li>
                        <li><a href="rsvp">RSVP Online</a></li>
                        
					</ul>
				</nav>
			</div>
			<div class="slider_box">
				<div class="slider">
					<img src="media/img/img1.jpg" alt="" title="">
					<img src="media/img/img2.jpg" alt="" title="">
					<img src="media/img/img3.jpg" alt="" title="">
					<img src="media/img/img4.jpg" alt="" title="">
					<img src="media/img/img5.jpg" alt="" title="">
				</div>
			</div>
		</header>
	</div>
</div>

<script type="text/javascript">
	Cufon.now();
	$(function() {
		$('.slider').nivoSlider({
			effect:'fold',
			slices:17,
			animSpeed:500,
			pauseTime:8000,
			startSlide:0,
			directionNav:true,
			directionNavHide:false,
			controlNav:true, 
			controlNavThumbs:false, 
			controlNavThumbsFromRel:false, 
			controlNavThumbsSearch: '.jpg',
			controlNavThumbsReplace: '_thumb.jpg', 
			keyboardNav:true, 
			pauseOnHover:true,
			manualAdvance:false,
			captionOpacity:1,
			beforeChange: function(){},
			afterChange: function(){Cufon.refresh();},
			slideshowEnd: function(){}
		});
	});
</script>
