<div class="body1">
	<div class="main">
		<!-- header -->
		<header>
			<div class="wrapper">
				<nav>
					<ul id="menu">
						<li class="first" id="menu_active"><a href="index.html">Home </a></li>
						<li><a href="ourstory">Our Story</a></li>
						<li><a href="weddingevents">Wedding Events</a></li>
						<li><a href="weddingparty">Wedding Party</a></li>
						<li><a href="photos">Photo Gallery</a></li>
						<li><a href="registry">Gift Registry</a></li>
                        <li><a href="rsvp">RSVP Online</a></li>
                        
					</ul>
				</nav>
			</div>
			<div class="slider_box">
				<div class="slider">
					<img src="images/img1.jpg" alt="" title="">
					<img src="images/img2.jpg" alt="" title="">
					<img src="images/img3.jpg" alt="" title="">
					<img src="images/img4.jpg" alt="" title="">
					<img src="images/img5.jpg" alt="" title="">
				</div>
			</div>
		</header>
	</div>
</div>
